In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:

# List of popular languages used by data scientists
1. "Python"
2. "R"
3. "SQL"
4. "Java"

In [ ]:
# Data Science Tools

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

a=int(input("give me a numbre")
b=int(input("give me a numbre")
add= a+b
subs=a-b
mul=a*b
div=a/b
print(add,"  ",subs,"  ", mul,"  ",div)


# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

In [1]:
#convert 200 minutes to hours by diving by 60.

print(" in this excercise we cconvert 200 minutes to hours")
print (200/60)

 in this excercise we cconvert 200 minutes to hours
3.3333333333333335

In [ ]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

** Objetive **
- Phyton
- R
- Swift
- Java
- Julia
- Scala

In [ ]:
## Author: Jose Juan Calvo